@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.css';

thead th {
   padding: 1rem 2rem;
   border-bottom: 1px solid;
   text-align: left; 
}

tbody td {
   padding: 1rem 2rem;
   border-bottom: 1px solid; 
}
